#noteFormContainer {
    display: flex;
    flex-flow: column;
}

.card-criminal {
    border: solid;
    border-color: green;
}

.criminalsContainer {
    border: solid;
    border-color: blue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}